<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/output.css') }}">
        <title>bot</title>
        <style>
            .glow {
                box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
            }
        </style>
    </head>
    <body class="bg-[#0f0f0f] text-white">
        <div class="min-h-screen flex">
            <div class="w-1/4 bg-gray-800 p-4">
                <h2 class="text-2xl font-bold mb-4">Servers</h2>
                <ul>
                    {% for server in servers %}
                    <li class="mb-4">
                        <a href="{{ url_for('config', server_id=server.id) }}" class="flex items-center {% if server.id == current_server_id %}glow{% endif %}">
                            {% if server.icon %}
                            <img src="{{ server.icon }}" alt="{{ server.name }}" class="w-12 h-12 rounded-full mr-4">
                            {% else %}
                            <div class="w-12 h-12 bg-gray-700 rounded-full mr-4"></div>
                            {% endif %}
                            <span>{{ server.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w-3/4 p-8">
                {% block content %}
                <h2 class="text-center text-3xl font-extrabold text-white">Select a server to configure</h2>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
